<div class="jumbotron-validate-deleyes">
	<div class="mx-auto" style="width: 500px;">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title title-deleyes text-center">REGISTRO EN DELEYES</h3>
				<h5 class="card-subtitle text-center">Validación de usuario</h5>
				<hr>
				<div class="card-text text-center">

					<div class="col-12">
						<div class="btn-group" role="group" aria-label="Basic example">
							<button *ngIf="error" type="button" class="btn btn-danger" [routerLink]="['/login']">Login</button>
							<button *ngIf="error" type="button" class="btn btn-danger" [routerLink]="['/register']">Registro</button>
							<button type="button" class="btn btn-danger" [routerLink]="['/home']">Incio</button>
						</div>

					</div>
					<div class="col-12">
						{{ registro }}
					</div>
					<div *ngIf="error">
						<hr>
						<strong class="alert alert-danger">{{ error }}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>