.bg-deleyes {
	background-color: #0f364b !important;;
}

img.logo-deleyes {
	width: 150px;
	margin: 5px 0;
}

.dropdown-menu-deleyes {
	background: #0f364b;
}

.dropdown-item-deleyes {
	color: #fff;
}

.dropdown-item-deleyes:focus, .dropdown-item-deleyes:hover {
	color: #00B1C5;
	background: #0f364b;
}