<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark bg-deleyes">
	<a class="navbar-brand" href="#"><img class="logo-deleyes" src="./assets/images/logo-deleyes.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/login']">Login</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/register']">Registro</a>
			</li>
			<!--li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu dropdown-menu-deleyes" aria-labelledby="navbarDropdown">
					<a class="dropdown-item dropdown-item-deleyes" href="#">Action</a>
					<a class="dropdown-item dropdown-item-deleyes" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item dropdown-item-deleyes" href="#">Something else here</a>
				</div>
			</li-->
		</ul>
		<!--form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-danger my-2 my-sm-0 btn-deleyes" type="submit">Search</button>
		</form-->
	</div>
</nav>