<div class="jumbotron-login-deleyes">
	<div class="mx-auto" style="width: 500px;">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title title-deleyes text-center">BIENVENIDO A DELEYES</h3>
				<h5 class="card-subtitle text-center">Inicia sesión</h5>
				<div class="card-text">
					<form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
						<div class="form-group">
							<label for="email"><i class="material-icons">contact_mail</i> Ingresa tu correo</label>
							<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingresa tu correo" id="email" name="email" [(ngModel)]="userData.email" #email="ngModel" minlength="3" required>
							<div *ngIf="!email.valid && email.touched && email.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
						</div>
						<div class="form-group">
							<label for="password"><i class="material-icons">lock_open</i> Ingresa tu contraseña</label>
							<input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Ingresa tu contraseña" id="password" name="password" [(ngModel)]="userData.password" #password="ngModel" minlength="3" required>
						</div>
						<button type="submit" class="btn btn-outline-danger btn-deleyes">Iniciar Sesión</button>
					</form>
				</div>
				<div *ngIf="errorLogin" class="col-12">
					<br>
					<div class="alert alert-danger">
						{{ errorLogin }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>