.jumbotron-login-deleyes {
	padding: 2rem 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: .3rem;
	display: -webkit-flex;
	min-height: 82vh;
	align-items: center;
}