<div class="container-fluid container-fluid-deleyes">
	<div class="card" *ngIf="rol == 0">
		<div class="card-body">
			<h5 class="card-title">Lo legal hecho simple</h5>
			<div class="row">
				<div class="col-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Titulo</h5>
							<p>Información</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Titulo</h5>
							<p>Información</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Titulo</h5>
							<p>Información</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card" *ngIf="rol == 2">
		<img class="card-img-top" src="#" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Usuario</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
	<div class="card" *ngIf="rol == 1">
		<img class="card-img-top" src="#" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Admin</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>