/* You can add global styles to this file, and also import other style files */

.btn-deleyes {
	border-radius: 1.5rem;
	border: solid #C92546 2px;
}

.footer-deleyes {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #0f364b;
}

.title-deleyes {
	color: #C92546;
}

.container-fluid-deleyes {
	padding: 5rem 1rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}