<div class="jumbotron-register-deleyes">
	<div class="mx-auto" style="width: 500px;">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title title-deleyes text-center">REGISTRATE EN DELEYES</h3>
				<h5 class="card-subtitle text-center">Ingresa tus datos a continuación</h5>
				<div class="card-text">
					<form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp" placeholder="Nombre"  [(ngModel)]="UserRegister.nombre" #nombre="ngModel" minlength="3" required>
							<div *ngIf="!nombre.valid && nombre.touched && nombre.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
							<div *ngIf="nombre.errors && nombre.errors.minlength" class="alert alert-warning">
								Necesita mínimo 3 caracteres
							</div>
						</div>
						<div class="form-group">
							<label for="apellido">Apellido</label>
							<input type="text" class="form-control" id="apellido" name="apellido" aria-describedby="emailHelp" placeholder="Apellido" [(ngModel)]="UserRegister.apellido" #apellido="ngModel" minlength="3" required>
							<div *ngIf="!apellido.valid && apellido.touched && apellido.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
							<div *ngIf="apellido.errors && apellido.errors.minlength" class="alert alert-warning">
								Necesita mínimo 3 caracteres
							</div>
						</div>

						<div class="form-group">
							<label for="tipo_doc">Tipo de documento</label>
							<select class="custom-select" id="tipo_doc" name="tipo_doc" [(ngModel)]="UserRegister.tipo_doc" #tipo_doc="ngModel" required>
								<option value="1">CC</option>
								<option value="2">CE</option>
								<option value="3">NIT</option>
							</select>
						</div>
						<div class="form-group">
							<label for="documento">Número de documento</label>
							<input type="text" class="form-control" id="documento" name="documento" aria-describedby="emailHelp" placeholder="Número de documento" [(ngModel)]="UserRegister.documento" #documento="ngModel" minlength="5" required>
							<div *ngIf="!documento.valid && documento.touched && documento.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
							<div *ngIf="documento.errors && documento.errors.minlength" class="alert alert-warning">
								Necesita mínimo 5 caracteres
							</div>
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail" [(ngModel)]="UserRegister.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
							<div *ngIf="!email.valid && email.touched && email.errors.required" class="alert alert-danger">
								el campo es obligatorio
							</div>
							<div *ngIf="email.errors && email.errors.pattern" class="alert alert-warning">
								Debe ser un correo valido
							</div>
						</div>
						<div class="form-group">
							<label for="telefono">Teléfono</label>
							<input type="text" class="form-control" id="telefono" name="telefono" aria-describedby="emailHelp" placeholder="Teléfono" [(ngModel)]="UserRegister.telefono" #telefono="ngModel" minlength="6" pattern="^[0-9]*$" required>
							<div *ngIf="!telefono.valid && telefono.touched && telefono.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
							<div *ngIf="telefono.errors && telefono.errors.minlength" class="alert alert-warning">
								Necesita mínimo 6 caracteres
							</div>
							<div *ngIf="telefono.errors && telefono.errors.pattern" class="alert alert-warning">
								Solo permite caracteres númericos
							</div>
						</div>
						<div class="form-group">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" placeholder="Contraseña" [(ngModel)]="UserRegister.password" #password="ngModel" minlength="6" required>
							<div *ngIf="!password.valid && password.touched && password.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
							<div *ngIf="password.errors && password.errors.minlength" class="alert alert-warning">
								Necesita mínimo 6 caracteres
							</div>
						</div>
						<div class="form-group">
							<label for="confirm_password">Repetir Contraseña</label>
							<input type="password" class="form-control" id="confirm_password" name="confirm_password" aria-describedby="emailHelp" placeholder="Repetir Contraseña" [(ngModel)]="UserRegister.confirm_password" #confirm_password="ngModel" required>
							<div *ngIf="!confirm_password.valid && confirm_password.touched && confirm_password.errors.required" class="alert alert-danger">
								El campo es obligatorio
							</div>
						</div>
						<div class="form-group">
							<div *ngIf="showError" class="alert alert-danger">
								Los campos marcados con rojo son necesarios, por favor completelos
							</div>
							<div *ngIf="passMatchError" class="alert alert-warning">
								La contraseña no coincide, intente de nuevo
							</div>
							<div *ngIf="errorRegister" class="alert alert-danger">
								{{ errorRegister }}
							</div>
						</div>
						<button type="submit" class="btn btn-outline-danger btn-deleyes">Registrarse</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>